<div class="home-page animated-gif-bg">
  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your <i>Angular</i> knowledge.</p>
    </div>
  </div>

  <div class="video-container">
    <video autoplay loop controls>
      <source
        src="../../../assets/haida miloudi taha et MIDO.mp4"
        type="video/mp4"
      />
      Votre navigateur ne prend pas en charge la vidéo hhhhhiuhbviuerb iuerbv .
    </video>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ active: listConfig.type === 'feed' }"
                (click)="setListTo('feed')"
              >
                Your Feed
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{
                  active: listConfig.type === 'all' && !listConfig.filters.tag
                }"
                (click)="setListTo('all')"
              >
                Global Feed
              </a>
            </li>
            <li class="nav-item" [hidden]="!listConfig.filters.tag">
              <a class="nav-link active">
                <i class="ion-pound"></i> {{ listConfig.filters.tag }}
              </a>
            </li>
          </ul>
        </div>

        <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
      </div>

      <div class="col-md-3" *rxLet="tags$; let tags">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a
              *ngFor="let tag of tags"
              (click)="setListTo('all', { tag: tag })"
              class="tag-default tag-pill weird-tag"
            >
              {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">Loading tags...</div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
          </div>
          <div class="gif-background">
            <img
              src="https://media.giphy.com/media/gtakVlnStZUbe/giphy.gif?cid=ecf05e47wbgvvk6lhdjucggefhd5ds2ynbzkxvh6lya7azub&ep=v1_gifs_search&rid=giphy.gif&ct=g"
              alt="gif1"
            />
            <img
              src="https://media.giphy.com/media/1dIo6kDOPMzsnMOJTj/giphy.gif?cid=790b761176xkzvksp0v4gols3xq6hypkwo89hz46td9xdf6c&ep=v1_gifs_search&rid=giphy.gif&ct=g"
              alt="gif2"
            />
            <img
              src="https://media.giphy.com/media/IzdL5AH7teZSOPnqrw/giphy.gif?cid=ecf05e47uxsa6pd1nahccqqir5osadr9dvjp3jocdfin5fyb&ep=v1_gifs_search&rid=giphy.gif&ct=g"
              alt="gif3"
            />
            <img
              src="https://media.giphy.com/media/a5viI92PAF89q/giphy.gif?cid=ecf05e47un8nhcyrlvpc8cicqzi0sjqw4hzkoe6d5rs44hhz&ep=v1_gifs_search&rid=giphy.gif&ct=g"
              alt="gif1"
            />
            <img
              src="https://media.giphy.com/media/pUeXcg80cO8I8/giphy.gif?cid=ecf05e47dfjp6qu44o8hbp0yyi3nr5kqoctvcip1x79wl05c&ep=v1_gifs_search&rid=giphy.gif&ct=g"
              alt="gif2"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CSS dans le fichier HTML -->
  <style>
    .nav-link {
      cursor: pointer;
    }

    .tag-pill {
      cursor: pointer;
    }

    .gif-background {
      position: absolute;
      right: 0;
      width: 200px;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: -1;
    }

    .gif-background img {
      width: 250px;
      height: 150px;
      object-fit: cover;
      animation: float 5s ease-in-out infinite;
    }

    @keyframes float {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
      }
    }

    div.tag-list > a.weird-tag {
      background-color: #ff00ff;
      border-width: 2px;
      border-style: dashed;
      border-color: #0000ff;
      font-size: 1.2rem;
      font-weight: bold;
      padding-top: 5px;
      padding-right: 10px;
      padding-bottom: 5px;
      padding-left: 10px;
      margin-top: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
      margin-left: 5px;
      display: inline-block;
      border-radius: 20px;
      color: #ffff00;
      text-shadow: 2px 2px 0 #ff0000;
      transition-property: transform, background-color;
      transition-duration: 0.3s, 0.5s;
    }

    div.tag-list > a.weird-tag:hover {
      transform: rotate(360deg) scale(1.5);
      background-image: linear-gradient(45deg, #ffcc00, #cc00ff);
      color: #000000;
      box-shadow: 0px 0px 20px 5px #00ff00;
      cursor: pointer;
    }

    @keyframes useless-bounce-animation {
      0% {
        transform: translateY(0px);
      }
      25% {
        transform: translateY(-5px);
      }
      50% {
        transform: translateY(-10px);
      }
      75% {
        transform: translateY(-5px);
      }
      100% {
        transform: translateY(0px);
      }
    }

    div.tag-list > a.weird-tag {
      animation-name: useless-bounce-animation;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }

    .video-container {
      text-align: center;
      margin: 20px 0;
    }

    video {
      width: 100%;
      max-width: 800px;
      height: auto;
      border-radius: 10px;
    }
  </style>
</div>
