<div class="home-page animated-gif-bg">
  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1
        class="logo-font"
        style="
          font-size: 50px;
          color: #ff00ff;
          text-shadow: 3px 3px 0px #0000ff;
        "
      >
        conduit
      </h1>
      <p
        style="
          font-size: 24px;
          font-weight: bold;
          color: #ff007f;
          text-shadow: 2px 2px 5px #ffff00;
        "
      >
        A place to share your <i style="color: #ff6600">Angular</i> knowledge.
      </p>
    </div>
  </div>

  <div class="video-container">
    <video
      autoplay
      loop
      controls
      style="border: 5px solid #ff0000; box-shadow: 0px 0px 20px 10px #00ff00"
    >
      <source
        src="../../../assets/haida miloudi taha et MIDO.mp4"
        type="video/mp4"
      />
      Votre navigateur ne prend pas en charge la vidéo hhhhhiuhbviuerb iuerbv.
    </video>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ active: listConfig.type === 'feed' }"
                (click)="setListTo('feed')"
                style="
                  color: #ff00ff;
                  font-size: 20px;
                  animation: pulsate 1.5s infinite;
                "
              >
                Your Feed
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{
                  active: listConfig.type === 'all' && !listConfig.filters.tag
                }"
                (click)="setListTo('all')"
                style="
                  color: #ff0000;
                  font-size: 22px;
                  animation: pulsate 2s infinite;
                "
              >
                Global Feed
              </a>
            </li>
            <li class="nav-item" [hidden]="!listConfig.filters.tag">
              <a
                class="nav-link active"
                style="
                  color: #00ff00;
                  font-size: 18px;
                  animation: pulsate 1.8s infinite;
                "
              >
                <i class="ion-pound" style="color: #ff00ff"></i>
                {{ listConfig.filters.tag }}
              </a>
            </li>
          </ul>
        </div>

        <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
      </div>

      <div class="col-md-3" *rxLet="tags$; let tags">
        <div class="sidebar">
          <p style="color: #ff6600; font-size: 30px">Popular Tags</p>

          <div class="tag-list">
            <a
              *ngFor="let tag of tags"
              (click)="setListTo('all', { tag: tag })"
              class="tag-default tag-pill weird-tag"
              style="
                background-color: #ffff00;
                border: 3px solid #ff00ff;
                font-size: 1.5rem;
                font-weight: bold;
              "
            >
              {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">Loading tags...</div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
          </div>

          <div class="gif-background">
            <img
              src="https://media.giphy.com/media/gtakVlnStZUbe/giphy.gif?cid=ecf05e47wbgvvk6lhdjucggefhd5ds2ynbzkxvh6lya7azub&ep=v1_gifs_search&rid=giphy.gif&ct=g"
              alt="gif1"
              style="animation: rotate 5s linear infinite"
            />
            <img
              src="https://media.giphy.com/media/1dIo6kDOPMzsnMOJTj/giphy.gif?cid=790b761176xkzvksp0v4gols3xq6hypkwo89hz46td9xdf6c&ep=v1_gifs_search&rid=giphy.gif&ct=g"
              alt="gif2"
              style="animation: rotate 5s linear infinite"
            />
            <img
              src="https://media.giphy.com/media/IzdL5AH7teZSOPnqrw/giphy.gif?cid=ecf05e47uxsa6pd1nahccqqir5osadr9dvjp3jocdfin5fyb&ep=v1_gifs_search&rid=giphy.gif&ct=g"
              alt="gif3"
              style="animation: rotate 5s linear infinite"
            />
            <img
              src="https://media.giphy.com/media/a5viI92PAF89q/giphy.gif?cid=ecf05e47un8nhcyrlvpc8cicqzi0sjqw4hzkoe6d5rs44hhz&ep=v1_gifs_search&rid=giphy.gif&ct=g"
              alt="gif4"
              style="animation: rotate 5s linear infinite"
            />
            <img
              src="https://media.giphy.com/media/pUeXcg80cO8I8/giphy.gif?cid=ecf05e47dfjp6qu44o8hbp0yyi3nr5kqoctvcip1x79wl05c&ep=v1_gifs_search&rid=giphy.gif&ct=g"
              alt="gif5"
              style="animation: rotate 5s linear infinite"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CSS dans le fichier HTML -->
  <style>
    @keyframes pulsate {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
        color: #ff6600;
      }
      100% {
        transform: scale(1);
      }
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .gif-background {
      position: absolute;
      right: 0;
      top: 40%;
      width: 200px;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: -1;
    }

    .gif-background img {
      width: 250px;
      height: 150px;
      object-fit: cover;
    }

    div.tag-list > a.weird-tag {
      background-color: #ff00ff;
      border-width: 2px;
      border-style: dashed;
      border-color: #0000ff;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 10px;
      margin: 10px;
      display: inline-block;
      border-radius: 20px;
      color: #ffff00;
      text-shadow: 2px 2px 0 #ff0000;
      transition: transform 0.3s, background-color 0.5s;
    }

    div.tag-list > a.weird-tag:hover {
      transform: rotate(360deg) scale(1.5);
      background-image: linear-gradient(45deg, #ffcc00, #cc00ff);
      color: #000000;
      box-shadow: 0px 0px 20px 5px #00ff00;
      cursor: pointer;
    }

    .video-container {
      text-align: center;
      margin: 20px 0;
    }

    video {
      width: 100%;
      max-width: 800px;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
    }
  </style>
</div>
